#set ($lw = $workman.LoginWorker)
#set ($logins = $lw.getAllLogins())

#macro (mkToolTipLogUser $u)
 #if ($u.firstname && $u.lastname) ## End of string!
  '$utilities.jsQuote($u.firstname) $utilities.jsQuote($u.lastname)' ## End of string!
 #end ## End of string!
#end

<table id="CurrentLoginsList" class="TableList">
 <tr>
  <th>$text.CurrentLogins_HeaderUser</th>
  <th>$text.CurrentLogins_HeaderAddress</th>
  <th>$text.CurrentLogins_HeaderHost</th>
  <th>$text.CurrentLogins_HeaderCreated</th>
  <th>$text.CurrentLogins_HeaderLastSeen</th>
  #if ($lw.login.may('deleteCurrentLogins'))
   <th>$text.CurrentLogins_HeaderMark</th>
  #end
 </tr>
 #foreach ($lo in $logins)
  <tr>
   #set($user = $lo.getRefUser())
   <td onMouseOver="McBody_showToolTip(event, #mkToolTipLogUser($user))" onMouseOut="McBody_hideToolTip()">$user.loginname</td>
   <td>$!lo.address</td>
   <td>$!lo.host</td>
   <td>$utilities.formatDate($lo.created, $req.getLocale())</td>
   <td>$utilities.formatDate($lo.lastseen, $req.getLocale())</td>
   #if ($lw.login.may('deleteCurrentLogins'))
    <td
     #if ($lo.sessionId == $lw.login.sessionId)
      onMouseOver="McBody_showToolTip(event, '$text.CurrentLogins_ToolTipSelf')" onMouseOut="McBody_hideToolTip()"
     #end
     >
     #set ($nrds = $foreach.count - 1)
     <input type="checkBox" id="fledel[$nrds]" value="$lo.sessionId" onClick="onClickFLE($nrds)"
     #if ($lo.sessionId == $lw.login.sessionId)
      disabled=true
     #end
     >
    </td>
   #end
  </tr>
 #end
<table>
