#set ($lw = $workman.loginWorker)
#set ($mw = $workman.musiciansWorker)

#set ($mus = $beanWorker.getParameterAsBean('baked.application.beans.Musician', 'mus'))
#set ($comus = $beanWorker.getParameterAsBean('baked.application.beans.Musician', 'comus'))
#set ($recs = $mw.getRecordsWithCoMusician($mus, $comus, $lw.login))

<table class="TableList">
 #HeaderRecord()
 #foreach ($rec in $recs)
  <tr>
   #EntryRecord($rec true false "")
  </tr>
 #end
</table>