/*
Style file for MC.

@version 2025-01-07
@author lp
*/

@media screen and (min-width: 801px) {
 body {
  margin-left: 75px;
  margin-right: 75px;
 }
}

@media screen and (max-width: 800px) {
 body {
  margin-left: 20px;
  margin-right: 20px;
 }
}

body {
 height: 100%;
 background-color: #FAFAFA;
 font-family: sans-serif;
 margin-top: 0px;
 margin-bottom: 0px;
}

 table.About {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-collapse: collapse;
 }

 h3.PrintView {
  break-after: avoid;
  margin-top: 40px;
  margin-bottom: 0px;
 }

 div.PrintView {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0px;
 }

 figure.PrintView {
  margin-right: 10px;
  margin-left: 0px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  break-inside: avoid;
 }

 figure.PrintView figcaption {
  width: 100%;
  font-size: 75%;
 }

 image.PrintView {
  width: 100%;
  height: 100%;
 }

a:visited,
a:link,
a {
 color: black;
 text-decoration: none;
}

a:hover {
 color: black;
 text-decoration: underline;
}

div.Header {
 width: 100%;
}

div.Header span {
 font-style: normal;
 font-size: 200%;
 font-weight: bold;
 margin-top: 25px;
 margin-bottom: 0px;
 float: right;
}

div.Header img {
 height: 50px;
 width: 50px;
 margin-top: 10px;
 margin-bottom: 0px;
}

div.Header hr {
 color: black;
 cursor: default;
 border-top: 1px solid black;
 border-bottom: 0px;
 margin-top: gb0px;
 margin-bottom: 0px;
}

div.Header table {
 width: 100%;
 border-collapse: collapse;
}

div.Header table td.Header {
 padding-top: 0px;
 padding-right: 0px;
 padding-left: 0px;
 padding-bottom: 5px;
 font-style: normal;
 font-size: 200%;
 font-weight: bold;
 vertical-align: bottom;
 border-bottom-width: 1px;
 border-top-width: 0px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-style: solid;
 border-color: black;
}

div.Footer {
}

div.TableSelectList {
 width: 100%;
 height: 150px;
 overflow: auto;
 border: 1px solid black;
}

div.SearchHits {
 display: block;
 margin-bottom: 10px;
 margin-top: 0px;
}

div.Menu {
 padding-left: 2px;
 width: 100%;
 height: 60%;
}

div.errormessage {
 color: red;
 width: 90%;
 border-width: 1px;
 border-style: solid;
 border-color: red;
 padding: 1.0em;
 margin-bottom: 10px;
}

div.warningmessage {
 color:blue;
 width:90%;
 border-width:1px;
 border-style:solid;
 border-color:blue;
 padding:1.0em;
 margin-bottom: 10px;
}

input.formnormal:focus {
 outline: none !important;
 border:1px solid gray;
}

input.formnormal,
input.formnormal:invalid {
 font-size: 100%;
 background-color:white;
 border:1px solid #FAFAFA;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
}

input.formerror:focus {
 outline: none !important;
 border:1px solid red;
}

input.formmerror {
 font-size: 100%;
 background-color:white;
 border:1px solid red;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
}

input.formerror,
input.formerror:valid {
 font-size: 100%;
 background-color:white;
 border:1px solid red;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
}

input.formreadonly {
 border: 1px solid #FAFAFA;
 font-size: 100%;
 background-color: #FAFAFA;
 color: black;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
}
input.tablecolumn {
 width: 100%;
}

select.formnormal:focus {
 outline: none !important;
 border:1px solid gray;
}

select.formnormal {
 font-size: 100%;
 background-color:white;
 border:1px solid #FAFAFA;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
}

::-webkit-datetime-edit-fields-wrapper { font-family: sans-serif}

button {
 border: 1px solid #FAFAFA;
 padding-right: 0px;
 font-size: 100%;
 text-decoration: none;
 background-color: #FAFAFA;
}
button:focus {
 border: 1px solid gray;
 box-shadow: inset 0px 0px #000, 0 0px black;
}
button:hover {
 text-decoration:underline;
}

div.PageSpacer {
 width: 100%;
 height:10px;
 overflow:auto;
 border: 0px
}

div.TableList {
 width: 100%;
 overflow: auto;
 border: 0px solid black;
 margin-top: 20px;
}

div.TableList span.lazyloadertrigger {
 margin-right: 100px;
}

table.TableList {
 width: 100%;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0.5em;
 border-collapse: collapse;
}

table.TableList td {
 padding-top: 0px;
 padding-top: 4px;
 padding-bottom: 0px;
}

table.TableList td.Small {
 width: 10%;
 padding-top: 4px;
 padding-bottom: 0px;
}

table.TableList td.SomeWhatWider {
 padding-top: 4px;
 padding-bottom: 0px;
 padding-right: 20px;
}

table.TableList td.TakeTheRest {
 width: 100%;
 padding-top: 0px;
 padding-top: 4px;
 padding-bottom: 0px;
}

table.TableList td.ImageLarge {
 width: 45vw;
 height: 45vw;
 padding-top: 4px;
 padding-bottom: 0px;
 padding-right: 16px;
}

table.TableList td.CatalogItem {
 font-size: 100%;
 font-weight: bold;
}

div.CatalogCoverpics {
 height: 325px;
 width: 100%;
}

div.CatalogCoverpics div.HScroller {
 display: flex;
}

div.CatalogCoverpics div.HScroller div {
 display: block;
 height: 100%;
 width: 200px;
 margin-right: 20px;
}

div.CatalogCoverpics div.HScroller div figure {
 height: 100%;
 width: 200px;
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 margin-right: 0px;
}

div.CatalogCoverpics div.HScroller div figure img {
 vertical-align: top;
 max-height: 100%;
 height: 200px;
 width: 200px;
}

div.CatalogCoverpics div.HScroller div figure figcaption {
 text-align: left;
 width: 100%;
}

@media (max-width: 800px) {
 table.TableList td.UnNec1 {}
 table.TableList th.UnNec1 {}
 table.TableList td.UnNec2 {}
 table.TableList th.UnNec2 {}
 table.TableList td.UnNec3 {}
 table.TableList th.UnNec3 {}
 table.TableList td.UnNec4 {}
 table.TableList th.UnNec4 {}
}
@media (max-width: 700px) {
 table.TableList td.UnNec1 {display: none;}
 table.TableList th.UnNec1 {display: none;}
 table.TableList td.UnNec2 {}
 table.TableList th.UnNec2 {}
 table.TableList td.UnNec3 {}
 table.TableList th.UnNec3 {}
 table.TableList td.UnNec4 {}
 table.TableList th.UnNec4 {}
}
@media (max-width: 600px) {
 table.TableList td.UnNec1 {display: none;}
 table.TableList th.UnNec1 {display: none;}
 table.TableList td.UnNec2 {display: none;}
 table.TableList th.UnNec2 {display: none;}
 table.TableList td.UnNec3 {}
 table.TableList th.UnNec3 {}
 table.TableList td.UnNec4 {}
 table.TableList th.UnNec4 {}
}
@media screen and (max-width: 500px) {
 table.TableList td.UnNec1 {display: none;}
 table.TableList th.UnNec1 {display: none;}
 table.TableList td.UnNec2 {display: none;}
 table.TableList th.UnNec2 {display: none;}
 table.TableList td.UnNec3 {display: none;}
 table.TableList th.UnNec3 {display: none;}
 table.TableList td.UnNec4 {}
 table.TableList th.UnNec4 {}
}
@media screen and (max-width: 400px) {
 table.TableList td.UnNec1 {display: none;}
 table.TableList th.UnNec1 {display: none;}
 table.TableList td.UnNec2 {display: none;}
 table.TableList th.UnNec2 {display: none;}
 table.TableList td.UnNec3 {display: none;}
 table.TableList th.UnNec3 {display: none;}
 table.TableList td.UnNec4 {display: none;}
 table.TableList th.UnNec4 {display: none;}
}

table.TableList th {
 background-color: #FAFAFA;
 font-weight: normal;
 text-align: left;
 border-bottom: 1px solid black;
 padding-top: 2px;
 padding-bottom: 2px;
 position: sticky;
 top: 0px;
 box-shadow: inset 0px 0px #FAFAFA, 0 1px black;
 vertical-align: bottom;
}

table.TableList th span {
 font-weight: bold;
 font-size: 110%;
}

table.TableList tr {
 background-color: #FAFAFA;
}

table.TableList tr:hover{
 background-color: white;
}

table.TableList th a:link {
 color: black;
 text-decoration: none;
}

table.TableList th a:hover {
 text-decoration: underline;
}

[draggable=true] {
 cursor: move;
}

table.TableList th img {
 width: 0.8em;
 height: 0.8em;
}

Table.TableList tr.SubHeader {
 font-weight: bold;
 font-size: 110%;
}

Table.TableList tr.SubHeader th {
 padding-top: 1.0em;
 border-bottom: 1px solid black;
}

Table.TableList tr.Summary {
 font-weight: bold;
 font-size: 100%;
}

Table.TableList tr.Summary td {
 border-top: 1px solid black;
}

table.TableSelectList {
 width: 100%;
}

table.TableSelectList tr {
 background-color: #FAFAFA;
}

table.TableSelectList tr:hover{
 background-color: white;
}

tr.TableSelectListDisabled {
 color: gray;
 background-color: #FAFAFA;
}

div {
 scrollbar-width: thin;
}

div.ActionBar {
 width: 100%;
 margin-top: 10px;
 margin-bottom: 10px;
 display: flex;
 align-items : center;
}

div.ActionBar span {
 font-weight: bold;
 white-space: nowrap;
 padding-top: 2px;
 position: sticky;
 left: 0;
 background-color: #FAFAFA;
}

div.ActionBar button {
 margin-left: 3px;
 margin-right: 2px;
 white-space: nowrap;
}

div.ActionBar button:hover {
 text-decoration:underline;
}

div.tooltip {
 background-color: ivory;
 color:black;
 border-width:1px;
 border-style:solid;
 border-color:black;
 padding:3px;
 z-index:2;
}

div.popupmenu {
 background-color: #FAFAFA;
 color:black;
 border-width:1px;
 border-style:solid;
 border-color:black;
 padding:3px;
 z-index:1;
}

div.popupmenu table {
}
div.popupmenu table td:hover {
 text-decoration: underline;
 background-color: white;
}
div.popupmenu table th {
 color: black;
 font-weight: bold;
 text-align: left;
 cursor: default;
}
div.popupmenu table td {
 color: black;
 text-align: left;
 cursor: default;
}
div.popupmenu hr {
 color: black;
 cursor: default;
 border-top: 1px solid black;
 border-bottom: 0px;
}
div.popupmenuDefinition {
 display: none;
 visibility: hidden
}

div.FormSpacer {
 width:100%;
 height:10px;
 overflow:auto;
 border: 1px solid #FAFAFA;
}

div.Rubber {
 overflow: auto;
}

div.Scroller {
 overflow-y: auto;
 overflow-x: hidden;
 scrollbar-color: silver #FAFAFA;
 scrollbar-width: thin;
}

div.HScroller {
 overflow-y: hidden;
 overflow-x: auto;
 scrollbar-color: silver #FAFAFA;
 scrollbar-width: thin;
}

select { color:black; background-color:white; border-width:1px; border-style:solid; border-color:black; }

img.foreignLogo {
 border: 0px;
 height: 30px;
}

img.bavstamp {
 -webkit-transform:rotate(-30deg); /* Chrome, Safari, Opera */
 transform:rotate(-30deg); /* Standard syntax */
 border: 0px;
 height: 100px;
 position: absolute;
 right: 50px;
 bottom: 50px;
}

div.Tagcloud {
 width: 100%;
 height: 150px;
}

div.Tagcloud a {
 white-space: nowrap;
}

div.BirthdaysCurrent {
 width: 100%;
 height: 150px;
}

div.BirthdaysCurrent table {
 padding-top: 1px;
 padding-right: 0px;
 padding-left: 0px;
 padding-bottom: 0px;
}

div.BirthdaysCurrent a {
 white-space: nowrap;
}

div.BirthdaysCurrent span.emph {
 font-weight:bold;
}



/*
 Forms
*/

.FormGrid {
 display: grid;
 width: 100%;
 grid-row-gap: 0px;
 grid-template-columns: repeat(10, 1fr);
 margin-bottom: 0px;
 align-items: start;
}

@media screen and (min-width: 801px) {
 .FormGrid {
  width: 50%;
 }
}

@media screen and (max-width: 800px) {
 .FormGrid {
  width: 100%;
 }
}

.FormGrid * {
 max-width: 100%;
 font-size: 100%;
 width: 100%;
}

.FormGrid label {
 grid-column-start: 1;
 font-size: 60%;
 margin-top: 6px;
 margin-bottom: 1px;
}

.FormGrid input {
 grid-column-start: 1;
 grid-column-end: 6;
 margin-bottom: 10px;
}

.FormGrid input[type=checkbox] {
 width: 1em;
}

.FormGrid select {
 grid-column-start: 1;
 grid-column-end: 6;
 width: 100%;
 margin-bottom: 10px;
}

.FormGrid div {
 grid-column-start: 1;
 grid-column-end: 5;
 margin-bottom: 10px;
}

/*
 MusicanDetails
*/

#mus\.m_id_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 5;
}

#mus\.m_id {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 5;
}

#mus\.name_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: -2;
}

#mus\.name {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: -3;
}

#mus\.instrumentId_label {
 grid-row: 3;
 grid-column-start: -1;
 grid-column-end: -3;
}

#mus\.instrumentId {
 grid-row: 4;
 grid-column-start: -1;
 grid-column-end: -3;
}

#mus\.born_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 6;
}

#mus\.born {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 6;
}

#mus\.bornIn_label {
 grid-row: 5;
 grid-column-start: -1;
 grid-column-end: -6;
}

#mus\.bornIn {
 grid-row: 6;
 grid-column-start: -1;
 grid-column-end: -6;
}

#mus\.died_label {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 6;
}

#mus\.died {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: 6;
}

#mus\.diedIn_label {
 grid-row: 7;
 grid-column-start: -1;
 grid-column-end: -6;
}

#mus\.diedIn {
 grid-row: 8;
 grid-column-start: -1;
 grid-column-end: -6;
}

#musappearsInBirthdayCalendar_label {
 grid-row: 9;
 grid-column-start: 1;
 grid-column-end: -6;
}

#musappearsInBirthdayCalendar {
 grid-row: 10;
 grid-column-start: 1;
 grid-column-end: -6;
}

#musappearsInBirthdayCalendarMainMenu_label {
 grid-row: 9;
 grid-column-start: -1;
 grid-column-end: -6;
}

#musappearsInBirthdayCalendarMainMenu {
 grid-row: 10;
 grid-column-start: -1;
 grid-column-end: -6;
}

#mus\.comment_label {
 grid-row: 11;
 grid-column-start: 1;
 grid-column-end: 10;
}

#mus\.comment {
 grid-row: 12;
 grid-column-start: 1;
 grid-column-end: -1;
}

/*
 TitleDetails
 */

#tit\.record_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.record {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.t_id_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.t_id {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.side_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 2;
}

#tit\.side {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 2;
}

#tit\.track_label {
 grid-row: 5;
 grid-column-start: 2;
 grid-column-end: 3;
}

#tit\.track {
 grid-row: 6;
 grid-column-start: 2;
 grid-column-end: 3;
}

#tit\.interpreter_label {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.interpreter {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.title_label {
 grid-row: 9;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.title {
 grid-row: 10;
 grid-column-start: 1;
 grid-column-end: -1;
}

#tit\.composer_label {
 grid-row: 11;
 grid-column-start: 1;
 grid-column-end: 6;
}

#tit\.composer {
 grid-row: 12;
 grid-column-start: 1;
 grid-column-end: 6;
}

#tit\.producer_label {
 grid-row: 11;
 grid-column-start: -1;
 grid-column-end: -6;
}

#tit\.producer {
 grid-row: 12;
 grid-column-start: -1;
 grid-column-end: -6;
}

#tit\.duration_label {
 grid-row: 13;
 grid-column-start: 1;
 grid-column-end: 2;
}

#tit\.duration {
 grid-row: 14;
 grid-column-start: 1;
 grid-column-end: 2;
}

#tit\.location_label {
 grid-row: 15;
 grid-column-start: 1;
 grid-column-end: 6;
}

#tit\.location {
 grid-row: 16;
 grid-column-start: 1;
 grid-column-end: 6;
}

#tit\.recordingdate_label {
 grid-row: 15;
 grid-column-start: -1;
 grid-column-end: -6;
}

#tit\.recordingdate {
 grid-row: 16;
 grid-column-start: -1;
 grid-column-end: -6;
}

/*
 RecordDetails
*/

#rec\.id_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.id {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.interpreter_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.interpreter {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.title_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.title {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.number_label {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 3;
}

#rec\.number {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: 2;
}

#rec\.mediumId_label {
 grid-row: 7;
 grid-column-start: 3;
 grid-column-end: 5;
}

#rec\.mediumId {
 grid-row: 8;
 grid-column-start: 3;
 grid-column-end: 4;
}

#rec\.recording_label {
 grid-row: 7;
 grid-column-start: 5;
 grid-column-end: 7;
}

#rec\.recording {
 grid-row: 8;
 grid-column-start: 5;
 grid-column-end: 6;
}

#rec\.releaseyear_label {
 grid-row: 7;
 grid-column-start: 7;
 grid-column-end: 9;
}

#rec\.releaseyear {
 grid-row: 8;
 grid-column-start: 7;
 grid-column-end: 8;
}

#rec\.label_label {
 grid-row: 9;
 grid-column-start: 1;
 grid-column-end: 6;
}

#rec\.label {
 grid-row: 10;
 grid-column-start: 1;
 grid-column-end: 6;
}

#rec\.ordernumber_label {
 grid-row: 9;
 grid-column-start: -1;
 grid-column-end: -6;
}

#rec\.ordernumber {
 grid-row: 10;
 grid-column-start: -1;
 grid-column-end: -6;
}

#rec\.comment_label {
 grid-row: 11;
 grid-column-start: 1;
 grid-column-end: -1;
}

#rec\.comment {
 grid-row: 12;
 grid-column-start: 1;
 grid-column-end: -1;
}

/*
 Login
*/

#loginstate_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: -1;
}

#loginstate {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: -1;
}

#MC_USERNAME_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 5;
}

#MC_USERNAME {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 5;
}

#MC_PASSWORD_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 5;
}

#MC_PASSWORD {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 5;
}

#ticket_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: -1;
}

#cpw_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 5;
}

#cpw {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 5;
}

#npw_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 5;
}

#npw {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 5;
}

#npwr_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 5;
}

#npwr {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 5;
}


/*
 ChangePassword
*/

#ticket {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: -1;
}

/*
 FavouritesListsDetails
*/

#favouritesList\.name_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: -2;
}

#favouritesList\.name {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: -2;
}

#favouritesListuserAccessWrite_label {
 grid-row: 1;
 grid-column-start: -1;
 grid-column-end: -2;
}

#favouritesListuserAccessWrite {
 grid-row: 2;
 grid-column-start: -1;
 grid-column-end: -2;
}

/*
 SearchGlobal
*/

#sp\.searchstring_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 11;
}

#sp\.searchstring {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 11;
}

#sp\.position_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 5;
}

#sp\.position {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 5;
}

#sp\.relAreas_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 5;
}

#sp\.relAreas\.records_label {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 2;
}

#sp\.relAreas\.records {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 2;
}

#sp\.relAreas\.titles_label {
 grid-row: 6;
 grid-column-start: 3;
 grid-column-end: 4;
}

#sp\.relAreas\.titles {
 grid-row: 7;
 grid-column-start: 3;
 grid-column-end: 4;
}

#sp\.relAreas\.musicians_label {
 grid-row: 6;
 grid-column-start: 5;
 grid-column-end: 6;
}

#sp\.relAreas\.musicians {
 grid-row: 7;
 grid-column-start: 5;
 grid-column-end: 6;
}

#searchpagemedia_label {
 grid-row: 5;
 grid-column-start: 7;
 grid-column-end: 8;
}

#sp\.relMedia\[0\]\.id_label {
 grid-row: 6;
 grid-column-start: 7;
 grid-column-end: 8;
}

#sp\.relMedia\[0\]\.id {
 grid-row: 7;
 grid-column-start: 7;
 grid-column-end: 8;
}

#sp\.relMedia\[1\]\.id_label {
 grid-row: 6;
 grid-column-start: 9;
 grid-column-end: 10;
}

#sp\.relMedia\[1\]\.id {
 grid-row: 7;
 grid-column-start: 9;
 grid-column-end: 10;
}

#searchpageonlynew_label {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: 4;
}

#sp\.relFlags\.onlyNew {
 grid-row: 9;
 grid-column-start: 1;
 grid-column-end: 4;
}

#searchpagenochildren_label {
 grid-row: 8;
 grid-column-start: 5;
 grid-column-end: 8;
}

#sp\.relFlags\.noChildren {
 grid-row: 9;
 grid-column-start: 5;
 grid-column-end: 8;
}


/*
 CopyInstruments
 */

#sourceTitles_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 10;
}

#sourceTitles {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 10;
}

#destinationTitles_labels {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 10;
}

#destinationTitles {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copyinstr_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copyinstr {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copyinstr select {
 width: 10em;
}

/*
 AddInstrumenst
 */

#addinstrumentstitles_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 10;
}

#addinstrumentstitles {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 10;
}

#instr\.id_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 4;
}

#instr\.id {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 4;
}

#musForce_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 4;
}

#musForce {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 1;
 width: 10em;
}

#AddInstrument #mus\.name_label {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 10;
}

#AddInstrument #mus\.name {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: 10;
}

/*
 CatalogMapping
*/

#catmap\.fromString_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 10;
}

#catmap\.fromString {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 10;
}

#catmap\.toString_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 10;
}

#catmap\.toString {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 10;
}

/*
 CoverpictureDetails
*/

#copic\.nr_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 2;
}

#copic\.nr {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 2;
}

#copic\.description_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copic\.description {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copic\.origin_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copic\.origin {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 10;
}

#copic\.filename_label {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 5;
}

#copic\.filename {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: 5;
}

/*
 ExchangeMusician
*/
#ExchangeMusician #instr_instrument_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 5;
}

#ExchangeMusician #Instruments {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 3;
}

#ExchangeMusician #change_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 5;
}

#ExchangeMusician #omus\.name_label {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: -2;
}

#ExchangeMusician #omus\.name {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: -2;
}

#ExchangeMusician #oinstr_instrument_label {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 3;
}

#ExchangeMusician #oinstr_instrument {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 3;
}

/*
 User Details
*/

#UserDetails #user\.loginname_label {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.loginname {
 grid-row: 2;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.firstname_label {
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.firstname {
 grid-row: 4;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.lastname_label {
 grid-row: 5;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.lastname {
 grid-row: 6;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.email_label {
 grid-row: 7;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.email {
 grid-row: 8;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.refRole\.id_label {
 grid-row: 9;
 grid-column-start: 1;
 grid-column-end: 5;
}

#UserDetails #user\.refRole\.id {
 grid-row: 10;
 grid-column-start: 1;
 grid-column-end: 5;
}


#instr\.mainInstrumentId_label {
 grid-column-start: 1;
 grid-column-end: 3;
}

#instr\.mainInstrumentId {
 grid-column-start: 3;
 grid-column-end: 12;
}

div.TableListHeader {
 width: 100%;
 color: black;
 padding-top: 10px;
}

div.MainMenuGrid {
 display: grid;
 width: 100%;
 gap: 1px 10px;
 grid-template-columns: 1fr 1fr 1fr;
 align-items: start;
}


@media screen and (orientation: portrait) {

 #RecordDetailsWithCoverpicture {
  width: calc(100% - 20vw - 25px);
 }

 div.TableListHeader {
  font-size: 60%;
  width: 100%;
  color: black;
  padding-top: 8px;
 }

 div.MainMenuGrid {
  display: grid;
  width: 50%;
  gap: 1px 10px;
  grid-template-columns: 1fr;
  align-items: start;
 }

}

div.PageHeader {
 display: block;
 margin-bottom: 10px;
}

#header {
 margin-bottom: 10px;
}

img.CoverPictureHuge {
 width: 45vw;
 height: 45vw;
}

img.CoverpictureSmall {
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
 height: 80%;
}

img.CoverpictureRecordDetail {
 width: 20vw;
 height: 20vw;
}

div.CoverpictureRecordDetail {
 width: 20vw;
 height: 20vw;
 margin-right: 25px;
}

div.Box {
 display: flex;
}

span.searchHitsNoResult {
 display: none;
 visibility: hidden;
}

span.searchHits {
 display: inline;
 visibility: visible;
}

div.TitleBar {
 width: 100%;
 margin-top: 5px;
 margin-bottom: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

div.TitleBar span {
 font-style: normal;
 font-size: 110%;
 font-weight: bold;
 white-space: nowrap;
 overflow: hidden;
 display: block;
 text-align: left;
}

div.Titlebar button {
 margin-left: 10%;
 margin-right: 0px;
 float: right;
 white-space: nowrap;
 text-align: right;
}

div.SubHeader {
 margin-top: 20px;
 color: black;
 font-weight: bold;
 font-size: 110%;
}

td.EntryRecordCoverpicture {
 width: 60px;
 height: 50px;
}

div.Stack {
 overflow: hidden;
}

div.Stack div {
 height: 100%;
 display: none;
}

button.TabBarUnselected {
 border-bottom: 1px solid black;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 padding-right: 10px;
 padding-left: 10px;
 font-size: 100%;
 text-decoration: none;
 background-color: #FAFAFA;
 margin-right: -2px;
 margin-left: -2px;
}

button.TabBarSelected {
 border-bottom: 0px;
 border-top: 1px solid black;
 border-left: 1px solid black;
 border-right: 1px solid black;
 padding-right: 10px;
 padding-left: 10px;
 font-size: 100%;
 text-decoration: none;
 background-color: #FAFAFA;
 margin-right: -2px;
 margin-left: -2px;
}

button.TabBarSelected:hover,
button.TabBarUnselected:hover {
 text-decoration:underline;
}

div.TabBar {
 padding-top: 15px;
}

div.Stack div.TableList {
 width: 100%;
 overflow: auto;
 border: 0px solid black;
 margin-top: 5px;
}

span.ProgressBar {
 width: 99%;
 border: 1px solid black;
 display: inline-block;
}

span.ProgressBarInner {
 border: 0px solid black;
 background-color: gray;
 display: inline-block;
}

div.mark {
 border:1px solid #FAFAFA;
 background-color: #FAFAFA;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}

div.mark mark {
 background: silver;
 font-size: 100%;
}



@media print {
 @page {
  size: A4;
  margin-left: 2cm;
  margin-right: 1cm;
 }

 .DontPrint {
  display: none;
  visibility: hidden;
 }

 div.TableList {
  height: auto !important;
  overflow: none;
 }

 table.TableList tr {
  page-break-inside: avoid;
 }

 div.HScroller {
  display: flex !important;
  flex-wrap: wrap;
  height: initial;
  width: 100%;
  overflow: none;
 }

div.CatalogCoverpics div.HScroller div {
 width: initial;
 margin-right: 10px;
}

 div.CatalogCoverpics {
  height: initial;
  width: 100%;
 }

 div.CatalogCoverpics div.HScroller div figure {
  display: block;
  page-break-inside: avoid;
  width: 100px;
 }

 div.CatalogCoverpics div.HScroller div figure img {
  height: 100px;
  width: 100px;
 }

div.CatalogCoverpics div.HScroller div figure figcaption {
 font-size: 75%;
}

 h3 {
  display: block;
  break-after: avoid;
 }

 button.TabBarUnselected {
  display: none;
  visibility: hidden;
 }

}
