#set ($lw = $workman.loginWorker)
#set ($searchengine = $workman.searchEngine)
#set ($bw = $req.getUriParameter('nb', '0'))

#autologin()
#htmlheader()
<body is="mc-body" onResize="onResize()" onLoad="onLoad()" onkeydown="onKeyDown(event)">
#titleExt($text.Header_Search "" true true false)
#HtmlOn()

#beginFormFill("SearchIndex" $text "" "header" "SearchGlobal.vm" "#templateUrl('forms/SearchPattern.vm')" "onReadyFormFill" "onReadyFormSave")
 ##
 ##
 ## Search pattern dialog
 ##
 <input type="hidden" id="sp.cryptKeyId" name="sp.cryptKeyId" data-mcform-key=true>
 <input type="hidden" id="sp.relFlags.onlyIndexSearch" name="sp.relFlags.onlyIndexSearch" value=true>
 #if ($lw.login.may("complexsearch"))
  #datalistinputform("sp.searchstring" "80" "1" true "" false "" true)
  <label id="sp.position_label" onMouseOver="McBody_showToolTip(event, '$text.SearchPage_SearchPosition')" onMouseOut="McBody_hideToolTip()">
   $text.SearchPage_label_position&nbsp;
  </label>
  <select class="formnormal" id="sp.position" name="sp.position">
   #foreach($spp in [3, 0, 1, 2])
    <option value="$spp">$text.get("SearchPage_position$spp")</option>
   #end
  </select>
  <label id="sp.relAreas_label" onMouseOver="McBody_showToolTip(event, '$text.SearchPage_SearchArea')" onMouseOut="McBody_hideToolTip()">
   $text.SearchPage_label_area
  </label>
  #foreach ($area in ['records', 'titles', 'musicians'])
   <label id="sp.relAreas.${area}_label">
    $text.get("SearchPage_area$area")
   </label>
   <input type="checkbox" id="sp.relAreas.$area" name="sp.relAreas.$area" value="true">
  #end
 #else
  #inputform("sp.searchstring" "input" "80" "1" true "" false)
  <input type="hidden" id="sp.position" name="sp.position" value="3"/>
  <input type="hidden" id="sp.relAreas.records" name="sp.relAreas.records" value="true"/>
  <input type="hidden" id="sp.relAreas.titles" name="sp.relAreas.titles" value="false"/>
  <input type="hidden" id="sp.relAreas.musicians" name="sp.relAreas.musicians" value="true"/>
 #end
#endForm()

<div
 is="mc-div-embedded"
 class="TableList Rubber Scroller"
 embedurl="#templateUrl('delayed/SearchIndex.vm')"
 dontfill=true
 data-rubberQuote="1"
 id="resultList"
 onready="onReadySearchRecordList"
>
</div>

#beginActionBar()
 #addActionBarButton("Search")
#endActionBar()

#HtmlOff()
#footer()
</body>



<script type="module" src="#javascriptUrl('McBody.js')"></script>
<script type="text/javascript" src="#javascriptUrl('Rubber.js')"></script>
<script type="text/javascript" src="#javascriptUrl('Scroller.js')"></script>
<script type="text/javascript" src="#javascriptUrl('McDivEmbedded.js')"></script>
<script type="module" src="#javascriptUrl('McForm.js')"></script>
<script type="text/javascript" src="#javascriptUrlApplication('Title.js')"></script>
<script type="text/javascript" src="#javascriptUrl('LazyLoader.js')"></script>
<script type="text/javascript" src="#javascriptUrl('McDatalistEmbedded.js')"></script>



<script>

 var rubber = new Rubber(document.body);
 var scroller = new Scroller("Search");



function onLoad() {

 onResize();

 #if ($bw == "1")
  document.forms[0].restore();
  doSearch();
 #else
  #if ($lw.login.may("storeSearchPatternInCookie"))
   #set ($spc = $req.getCookie('PUC_SEARCHPATTERN'))
   #if ("$!spc" != "")
    document.forms[0].fromQueryString(decodeURIComponent("$spc"));
   #end
  #end
  document.forms[0].clearstore();
 #end

}



function onResize() {

 rubber.stretch(10);
 #formFocus("sp.searchstring")

}



function onActionBarButtonSearch() {


 el = document.getElementById("sp.searchstring");
 if (el.value == "") {
  alert("$text.SearchPage_err_searchstringempty");
  return false;
 }
 #if ($lw.login.may("complexsearch"))
  oho = false;
  #foreach ($area in ['records', 'titles', 'musicians'])
   el = document.getElementById("sp.relAreas.$area");
   if (el.checked) oho = true;
  #end
  if (!oho) {
   alert("$text.SearchPage_err_noarea");
   return false;
  }
 #end

 McBody_setBusy(true);

 scroller.resetAll();

 doSearch();

 qs = document.forms[0].toQueryString();

 #if ($lw.login.may("storeSearchPatternInCookie"))
  var exp = new Date();
  exp = new Date(exp.getTime() + 1000 * 60 * 60 * 24 * 365);

  document.cookie = "PUC_SEARCHPATTERN=" + encodeURIComponent(qs) + "; expires=" + exp.toGMTString() + ";SameSite=strict; path=$req.getAppPath()";
 #end

}



function doSearch() {

 el = document.getElementById("resultList");
 el.innerHTML = "$text.General_LoadingData"

 qs = document.forms[0].toQueryString();

## alert(qs);

 el.fillWith(qs);

 #if ($lw.login.may("savesearchpatterns"))
  document.forms[0].save();
 #end

}



function onReadySearchRecordList() {

 McBody_setBusy(false);

 el = document.getElementById("resultList");

 scroller.scroll(el);

 (new LazyLoader(el)).observe();

}



function onReadyFormSave() {

}



function onReadyFormFill() {

 doSearch();

}



function showRecordMarked(keyValue, extra) {

 McBody_setBusy(true);
 scroller.store();
 document.forms[0].store();

 sd = "";
 id = 0;

 for (const ex of extra) {
  sd = sd + "&" + #[[`sis(${id}).cryptKeyId=`]]# + encodeURIComponent(ex);
  id = id + 1;
 }

 document.location.href =
  "#templateUrl('RecordDetails.vm')?rec.cryptKeyId=" + keyValue + sd;

}



#if ($lw.login.may('readtitles'))
 function showTitleMarked(keyValue, extra) {

  McBody_setBusy(true);
  scroller.store();
  document.forms[0].store();

  sd = "";
  id = 0;

  for (const ex of extra) {
   sd = sd + "&" + #[[`sis(${id}).cryptKeyId=`]]# + encodeURIComponent(ex);
   id = id + 1;
  }

  document.location.href =
   "#templateUrl('TitleDetails.vm')?tit.cryptKeyId=" + keyValue + sd;

 }
#end



#if ($lw.login.may('readmusicians'))
 function showMusicianMarked(keyValue, extra) {

  McBody_setBusy(true);
  scroller.store();
  document.forms[0].store();

  sd = "";
  id = 0;

  for (const ex of extra) {
   sd = sd + "&" + #[[`sis(${id}).cryptKeyId=`]]# + encodeURIComponent(ex);
   id = id + 1;
  }

  document.location.href =
   "#templateUrl('MusicianDetails.vm')?mus.cryptKeyId=" + keyValue + sd;

 }
#end



 #if ($lw.login.may("savesearchpatterns"))
  function onActionBarButtonHistory() {

   #openDialog("DialogSearchPatterns.vm" "SearchPatterns" 950 500)

  }
 #end



 function onKeyDown(event) {

  if (!event)
   event = window.event;

  if (event.which == 13) {
   event.preventDefault();
   onActionBarButtonSearch();
  }

 }



 function setSearchPattern(cryptKeyId) {

  el = document.getElementById("sp.cryptKeyId");
  el.value = cryptKeyId;

  document.forms[0].fill();

 }





function showRecord(keyValue) {

 McBody_setBusy(true);
 scroller.store();
 document.forms[0].store();

 document.location.href =
  "#templateUrl('RecordDetails.vm')?rec.cryptKeyId=" + keyValue;

}



#if ($lw.login.may('readtitles'))
 function showTitle(keyValue) {

  McBody_setBusy(true);
  scroller.store();
  document.forms[0].store();

  document.location.href =
   "#templateUrl('TitleDetails.vm')?tit.cryptKeyId=" + keyValue;

 }
#end



#if ($lw.login.may('readmusicians'))
 function showMusician(keyValue) {

  McBody_setBusy(true);
  scroller.store();
  document.forms[0].store();

  document.location.href =
   "#templateUrl('MusicianDetails.vm')?mus.cryptKeyId=" + keyValue;

 }
#end

</script>
</html>
