#
#
# Macros for the ActionBar
#
# @version 2021-01-09
# @author pilgrim.lutz@imail.de



#macro (beginActionBar)
 #set ($names = [])
 #set ($tooltips = [])
#end



#macro (addActionBarButton $name)
 #addActionBarButtonToolTip($name "")
#end



#macro (addActionBarButtonToolTip $buttonname $tooltip)
 #set ($d = $names.add($buttonname))
 #set ($d = $tooltips.add($tooltip))
#end



#macro (endActionBar)
 #if ($names.size() > 0)
  <div class="ActionBar HSCroller DontPrint" id="_actionbardiv">
   <span class="DontPrint">$text.ActionBar_title</span>

   #foreach ($name in $names)
    #set ($ix = $foreach.count - 1)
    #set ($tt = $tooltips.get($ix))
    <button id="actionbar_${name}" class="DontPrint"
     #if ("$tt" != "")onMouseOver="McBody_showToolTip(event, '$tt')" onMouseOut="McBody_hideToolTip()"#end
      onClick="McBody_setBusy(true);onActionBarButton${name}(event);McBody_setBusy(false);"
     >
     #HtmlOn()
     $text.get("ActionBar_Button_${name}")
     #HtmlOff()
    </button>
   #end
  </div>
 #end
#end



#macro(enableActionBarButton $button $flag)

 document.getElementById("actionbar_${button}").disabled = !${flag};

#end
