#set ($lw = $workman.loginWorker)
#set ($piw = $workman.programInformationWorker)

#set ($mus = $beanWorker.getParameterAsBean('baked.application.beans.Musician', 'mus'))
#set ($mw = $workman.musiciansWorker)

#set ($rst = $req.getIfNoneMatch())

#set ($ds = $mw.getCoMusiciansDS($mus, $lw.login))

#set ($st = "$piw.prepareEtag($ds.getStamp())")

$req.setETag("$st")

#if ($st != $rst)
 <table id="CoMusiciansList" class="TableList">
  #HtmlOn()
  #if ($lw.login.may('getdiscography'))
   #foreach ($comus in $ds.read())
    <tr>
     <td>
      <a href="javascript:showMusician('$utilities.urlEncode($comus.cryptKeyId)')">${comus.name}&nbsp;($comus.instrumentId)</a>
     </td>
     <td>
      <a href="javascript:showRecords('$utilities.urlEncode($mus.cryptKeyId)', '$utilities.urlEncode($comus.cryptKeyId)')">$text.MusicianDetails_link_CoMusiciansRecords</a>
     </td>
     <td>
      <a href="javascript:showTitles('$utilities.urlEncode($mus.cryptKeyId)', '$utilities.urlEncode($comus.cryptKeyId)')">$text.MusicianDetails_link_CoMusiciansTitles</a>
     </td>
    </tr>
   #end
  #else
   #foreach ($comus in $ds.read))
    <tr>
     <td>
      ${comus.name}&nbsp;($comus.instrumentId)
     </td>
    </tr>
   #end
  #end
  #HtmlOff()
 </table>
#else
 $req.setReturnCode(304)
#end