#set($searchengine = $workman.searchEngine)
#set($lw = $workman.loginWorker)
#set ($piw = $workman.programInformationWorker)

#set ($sp = $beanWorker.getParameterAsBean('baked.application.beans.SearchPattern', 'sp'))
#set ($results = $searchengine.searchIndex($sp))

#set ($st = "$piw.prepareEtag($results.getStamp(), $lw.login.relEffectiveRights.hashCode())")
#set ($rst = $req.getIfNoneMatch())

$req.setETag("$st")

#if ($st != $rst)
 <table class="TableList">
  #HtmlOn()
  #foreach($res in $results.read())
   <tr>
    #if ("$!res.recordId" != "")
     #set ($rec = $res.subRecord)
     #EntryRecordSI($rec true false "" $res.getAndOther())
    #elseif ("$!res.titleId" != "")
     #set ($tit = $res.subTitle)
     #EntryTitleSI($tit true $res.getAndOther())
    #elseif ("$!res.musicianId" != "")
     #set ($mus = $res.subMusician)
     #EntryMusicianSI($mus true $res.getAndOther())
    #end
   </tr>
  #end
  #HtmlOff()
 </table>
#else
 $req.setReturnCode(304)
#end
