#set ($lw = $workman.loginWorker)
#set ($piw = $workman.programInformationWorker)
#set ($stw = $workman.statisticsWorker)

#set ($searchfor = $req.getParameter('searchfor'))

#set ($ds = $stw.searchTopIssuerDS($searchfor))

#set ($st = "$piw.prepareEtag($ds.getStamp(), $lw.login.relEffectiveRights.hashCode())")
#set ($rst = $req.getIfNoneMatch())

$req.setETag("$st")

#if ($st != $rst)

 <table class="TableList">
  #if ($lw.login.may("seestatisticstopissuers")  ||  $lw.login.may("seeTagCloud"))

   #HeaderRecord()
   #set ($sum = 0)
   #foreach ($rec in $ds.read())
    <tr>
     #EntryRecord($rec true false "")
     #set ($sum = $sum + 1)
    </tr>
   #end
   <tr class="Summary">
    #if ($lw.login.may("seeCoverpictures"))
     <td>&nbsp;</td>
    #end
    #if ($lw.login.may("seenewmark"))
     <td>&nbsp;</td>
    #end
    <td>&nbsp;</td>
    <td>$text.Statistics_Summary</td>
    <td>$sum</td>
   </tr>
  #end
 </table>
#else
 $req.setReturnCode(304)
#end
